:root {
  --text: #1e1e1e;
  --primary: #00a9d0;
  --primary-hover: #028baa;
  --light-text: #6a6a6a;
}

html, body, #root, #root>div {
  min-height: 100vh;
}
.App{
  display: flex;
  flex-direction: column;
}
.page_content {
	flex: 1 0 auto;
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-size: 16px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  color: #fff;
  background-color: var(--primary);
}

::selection {
  color: #fff;
  background-color: var(--primary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b1b1b1 #f5f5f5;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
}
*:focus{
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 600;
}

p {
  margin: 0 0 15px;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  text-decoration: none !important;
  color: inherit;
}

button {
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background-color: inherit;
  border: 0;
  padding: 0;
}

ul{
  padding-left: 15px;
  list-style-type: square;
}


/* a:hover {
  color: var(--primaryHover);
} */

img {
  max-width: 100%;
  height: auto;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

a:hover,
a:focus,
button,
button:hover,
button:focus,
input:focus,
textarea:focus,
select:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}

*:focus {
  outline: none;
}

.banner_main .slick-prev {
  left: 15px;
}

.banner_main .slick-next {
  right: 15px;
}

.banner_main_slider img {
  width: 100%;
}
.slick-prev::before, .slick-next::before{
  font-size: 26px;
  color: #000;
}

.product_image{
  overflow: hidden;
}
.product_image img {
  transition: ease 0.5s;
}
.product_outer:hover .product_image img {
  transform: scale(1.05);
}
.product_title{
  padding: 10px 0 0;
}
.product_outer:hover .product_title a{
  color: var(--primary);
}
.slick-slide .product_outer {
  padding: 0 5px;
}

.brand_outer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand_outer .brand_list + .brand_list{
  margin-left: 20px;
}
.brand_outer .brand_list img{
  max-width: 100%;
}

.main_title{
  position: relative;
  padding-bottom: 20px;
}
.light-text{
  color: var(--light-text);
}

.btn{
  padding: 10px 20px;
  font-weight: 500;
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn:hover, .btn:focus{
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.product_outer{
  margin-bottom: 30px;
}
.contact_icon{
  width: 50px;
  height: 50px;
  line-height: 46px;
  flex: 0 0 50px;
  font-size: 20px;
  background-color: var(--primary);
  color: #fff;
  border: var(--primary) 1px solid;
  text-align: center;
  border-radius: 50%;
  margin-right: 15px;
}

@media screen and (max-width: 992px){
  .header_top p {
    font-size: 12px;
  }
  .header_navbar .nav_link {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px){
  .product_title h5 {
    font-size: 16px;
  }
  .brand_outer {
    flex-wrap: wrap;
  }
  .brand_list {
    flex: 0 0 25%;
  }
}


